[Unit]
Description=SmartMon vhe
Requires=network.target smartmon-nacos.service
After=network.target smartmon-nacos.service

[Service]
User=root
ExecStart=/opt/smartmon/smartmon-vhe/smartmon-vhe-startup.sh
WorkingDirectory=/opt/smartmon/smartmon-vhe

[Install]
WantedBy=multi-user.target
